---
name: VS Code Server
version: 0.4.0
slug: vscode
description: VS Code Server with Copilot support and the official marketplace in Home Assistant.
url: https://github.com/idomp/addon-vscode-server-ha
ingress: true
ingress_port: 8000
ingress_stream: true
panel_icon: mdi:microsoft-visual-studio-code
startup: services
init: false
arch:
  - aarch64
  - amd64
ports:
  8000/tcp: 8000
ports_description:
  8000/tcp: VS Code Server web UI
uart: true
hassio_api: true
hassio_role: manager
homeassistant_api: true
map:
  - type: addons
    read_only: false
  - type: all_addon_configs
    read_only: false
  - type: backup
    read_only: false
  - type: homeassistant_config
    read_only: false
    path: /config
  - type: media
    read_only: false
  - type: share
    read_only: false
  - type: ssl
    read_only: false
services:
  - mysql:want
  - mqtt:want
options:
  packages: []
  init_commands: []
schema:
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  config_path: str?
  packages:
    - str
  init_commands:
    - str
